<span id="notifications-count" class="relative">
  <% unread_count = user.notifications.unread.count %>
  <% if unread_count > 0 %>
    <span class="absolute -top-2 -right-2 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
      <%= unread_count > 99 ? "99+" : unread_count %>
    </span>
  <% end %>
</span>